<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="datasource">
		<constructor-arg name="url"
			value="jdbc:mysql://localhost:3306/springjdbc" />
		<constructor-arg name="username" value="root" />
		<constructor-arg name="password" value="amit1234" />
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
	</bean>


	<!-- entity set values-->
	<bean class="amit.learns.jdbc.entities.Student" name="entity">
		<property name="name" value="tejas" />
		<property name="id" value="3" />
		<property name="city" value="pune" />
	</bean>
	
	
	<!-- create jdbc template class object -->
	<bean class="org.springframework.jdbc.core.JdbcTemplate" name="springJdbc">
		<constructor-arg>
			<ref bean="datasource" />
		</constructor-arg>
	</bean>
	
	<bean class="amit.learns.jdbc.mysql.DataSetterDaoImpl" name = "datasetter">
	<!--	<property name="student" ref="entity"/>  -->
		<property name="jdbcTemplate" ref="springJdbc"/>
		
		</bean>


</beans>